<svg:g id="end-g{{endNode.id}}" attr.transform="translate({{endNode.x}},{{endNode.y}})">
  <svg:circle id="end-node{{endNode.id}}" class="node" attr.r="{{circleRadius}}" style="fill: white; stroke: black"></svg:circle>

<!--  <svg:foreignObject id="end-ob{{node.id}}" x="-19" y="-10" width="48" height="24">-->
<!--    <input #input class="input" type="text" placeholder="" (input)="changeNodeValue(input.value)"-->
<!--           value="{{node.value}}">-->
<!--  </svg:foreignObject>-->

<!--    <text id="text{{endNode.id}}" x="-3" y="4" class="id" >{{node.value}}</text>-->
    <text x="-10" y="3">end</text>
</svg:g>
