<svg:g id="g{{node.id}}" attr.transform="translate({{node.x}},{{node.y}})">
  <svg:circle id="node{{node.id}}" class="node" attr.r="{{circleRadius}}" style="fill: white; stroke: black"></svg:circle>

  <svg:foreignObject id="ob{{node.id}}" x="-19" y="-10" width="48" height="24">
    <input #input class="input" type="text" placeholder="" (input)="changeNodeValue(input.value)"
           value="{{node.value}}">
  </svg:foreignObject>

  <!--  <text id="text{{node.id}}" x="-3" y="4" class="id" >{{node.value}}</text>-->
  <!--  <text x="-10" y="-30"> test</text>-->
</svg:g>
