<svg:g id="g{{node.id}}" attr.transform="translate({{node.x}},{{node.y}})">
  <svg:circle id="node{{node.id}}" class="node" attr.r="{{circleRadius}}" [ngClass]="focus ? 'circle-focus' : 'circle'"></svg:circle>
  <ng-container *ngIf="editable; else text">
    <svg:foreignObject id="ob{{node.id}}" x="-19" y="-10" width="48" height="24">
      <input #input class="input" type="text" placeholder="" (input)="changeNodeValue(input.value)"
             value="{{node.value}}">
    </svg:foreignObject>
  </ng-container>
  <ng-template #text>
    <text id="text{{node.id}}" x="-1" y="4" class="id" >{{node.value}}</text>
<!--    <text x="-10" y="-30"> test</text>-->
  </ng-template>


</svg:g>
