<svg id="1"
     width='960px'
     height="600px"
     oncontextmenu="return false;"
     style="background: aqua">
  <defs>
    <marker id="{{eArrowDirection.endArrow}}" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto">
      <path d="M0,-5L10,0L0,5" fill="#000"></path>
    </marker>
  </defs>
  <defs>
    <marker id="{{eArrowDirection.startArrow}}" viewBox="0 -5 10 10" refX="4" markerWidth="3" markerHeight="3" orient="auto">
      <path d="M10,-5L0,0L10,5" fill="#000"></path>
    </marker>
  </defs>
  <g app-node [node]="node" (onDoubleClick)="addNewEdge(node)" *ngFor="let node of nodes"></g>
  <g app-edges [edges]="edges"></g>
  <g app-constrain [constrains]="constrains"></g>
</svg>
<form #input='ngForm' (ngSubmit)="addNewNode(input.value.input)">
  <input type="text" name="input" ngModel>
  <button type="submit">new Node</button>
</form>

